* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLUID AND RESPONSIVE IMAGES */
img,
picture {
  max-width: 100%;
  display: block;
}

/* INHERIT FONTS FOR BUTTONS AND INPUTS */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: linear-gradient(120deg, #2478ff 0%, #83d5fa 100%);
  background-attachment: fixed;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
}

h1 {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

input[type="text"],
h1,
.weatherDescription {
  text-transform: capitalize;
  text-align: center;
}

.input {
  width: 55%;
  border-style: none;
  border-radius: 5rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.main {
  margin: 0;
  width: 33.33%;
}

.forecastContainer,
.weatherDetails,
.weatherDetailsContent {
  display: flex;
}

.forecastContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weatherContainer {
  background-color: rgba(255, 255, 255, 0.762);
  border-radius: 12px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin: 0 1rem 1.5rem 0;
  padding: 2rem;
}

.weatherDetails,
.weatherDetailsContent {
  width: 100%;
}

.weatherDetails {
  flex-direction: column;
}

.weatherDetailsContent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding-bottom: 0.5rem;
}

.weatherTimer {
  margin: 0 auto;
  text-align: center;
}

.dayOfWeek,
.temp,
.humidity,
.realFeel,
.wind,
.weatherDescription {
  color: #2b2b2b;
}

.dayOfWeek {
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 1.8rem;
}

.temp {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.realFeel,
.humidity,
.wind,
span {
  font-size: 1.2rem;
}

.error {
  margin-top: 1rem;
  color: #fff;
}
